<div class="header">
    <i (click)=toggleDisplay() class="fas fa-bars"></i>
    <a routerLink="/home" class="logo">Logo</a>
</div>
<div>
    <ul *ngIf="!isShow" class="nav-links">
        <li><a routerLink="/subscriptions">All</a></li>
        <li><a (click)="route('meat')">Meat</a></li>
        <li><a (click)="route('veggies')">Veggies</a></li>
        <li><a (click)="route('mealprep')">Meal Prep</a></li>
    </ul>
</div>

<div class="desktop-header">
    <a routerLink="/home" class="logo">Logo</a>
    <ul class="desktop-links">
        <li><a routerLink="/subscriptions">All</a></li>
        <li><a (click)="route('meat')">Meat</a></li>
        <li><a (click)="route('veggies')">Veggies</a></li>
        <li><a (click)="route('mealprep')">Meal Prep</a></li>
    </ul>

</div>