<!-- Mobile Header -->
<div class="header">
    <i (click)=toggleDisplay() class="fas fa-bars"></i>
    <a routerLink="/home" class="logo"><img src="../../assets/bestbox_logo.svg" alt="BestBox Logo"></a>
</div>

<div>
    <ul *ngIf="!isShow" class="nav-links">
        <li class="mobile-link"><a (click)=toggleDisplay() routerLink="/subscriptions">All Boxes</a></li>
        <li class="mobile-link"><a (click)="route('meat')">Meat Boxes</a></li>
        <li class="mobile-link"><a (click)="route('veggies')">Veggie Boxes</a></li>
        <li class="mobile-link"><a (click)="route('mealprep')">Meal Prep Boxes</a></li>
    </ul>
</div>

<!-- Desktop Header -->
<div class="desktop-header">
    <a routerLink="/home" class="desktop-logo"><img src="../../assets/bestbox_logo.svg" alt="BestBox Logo"></a>
    <ul class="desktop-links">
        <li><a class="link" routerLink="/subscriptions" [ngClass]="{underline: heading === 'all'}">All Boxes</a></li>
        <li><a class="link" (click)="routeDesktop('meat')" [ngClass]="{underline: heading === 'meat'}">Meat Boxes</a>
        </li>
        <li><a class=" link" (click)="routeDesktop('veggies')" [ngClass]="{underline: heading === 'veg'}">Veggie
                Boxes</a></li>
        <li><a class=" link" (click)="routeDesktop('mealprep')" [ngClass]="{underline: heading === 'mealprep'}">Meal
                Prep Boxes</a></li>
    </ul>

</div>