.heading {
    margin-left: 40px;
}

.sub-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.food-imgs {
    display: none;
}

.desktop-pepper{
    position: absolute;
    left:-40px;
    top: 30px;
}

.desktop-lgblob{
    position: absolute;
    left: -40px;
    top: 800px;
}


.desktop-lemon {
    position: absolute;
    right: -100px;
    top: 400px;
    /* flex: 1; */
}

.desktop-pear {
    position: absolute;
    right:-50px;
    top:1200px;
}

.desktop-salmon{
    position: absolute;
    left: -80px;
    top: 2300px;
}

/* .desktop-carrots{
    position: absolute;
    left: -100px;
    top: 1600px;
} */

@media only screen and (min-width: 768px){

    .heading {
        margin-left: 70px;
    }  

    
    .food-imgs {
    position: relative;
    z-index: -1;
    display: block;
}

    .sub-boxes{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .subscription{
        max-width: 300px;
        max-height: 600px;
        overflow-y: hidden;
        
    }

    .description{
        height:120px;
        overflow: hidden;
        white-space: wrap;
        text-overflow: ellipsis;
        
    }

}
