.sub-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

@media only screen and (min-width: 768px){

    .sub-boxes{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .subscription{
        max-width: 300px;
    }

}
