<!-- <h1>Needs Refactor</h1> -->
<!-- <h2 *ngIf="!subscriptions[0]?.sub_type">All Subscriptions</h2> -->
<div class="food-imgs">
    <img class="desktop-lgblob" src="../../assets/purp_blob_lg.svg" alt="large purple blob">
    <img class="desktop-pepper" src="../../assets/pepper.svg" alt="pepper">
    <img class="desktop-pear" src="../../assets/pear.svg" alt="pear">
    <img class="desktop-salmon" src="../../assets/salmon.svg" alt="salmon">
    <!-- <img class="desktop-carrots" src="../../assets/carrots.svg" alt="carrots"> -->
    <img class="desktop-lemon" src="../../assets/lemon.png" alt="lemon">

</div>
<div class="container">
    <h2 class="heading" *ngIf="heading === 'all'">All Boxes</h2>
    <h2 class="heading" *ngIf="heading === 'meat'">Meat Boxes
    </h2>
    <h2 class="heading" *ngIf="heading === 'veg'">Veggie Boxes
    </h2>
    <h2 class="heading" *ngIf="heading === 'mealprep'">Meal Prep
        Boxes</h2>
    <ul class="sub-boxes">
        <li *ngFor="let subscription of subscriptions, index as i" class="subscription box">
            <img class="sub-img" src={{subscription?.sub_img}} />
            <div *ngIf="subscription.rating" class="stars">
                <i *ngFor="let star of [].constructor(subscription.rating)" class="fas fa-star small"></i>
                <i *ngFor="let star of [].constructor(5 - subscription.rating)" class="far fa-star small"></i>
            </div>
            <p class="bold-heading">{{subscription.name}}</p>
            <p class="description line-clamp">{{subscription.description}}</p>
            <button class="secondary card" (click)="routeDetails(subscription.sub_id)">View Box
                Details</button>
        </li>
    </ul>
</div>