<!-- <h1>Needs Refactor</h1> -->
<!-- <h2 *ngIf="!subscriptions[0]?.sub_type">All Subscriptions</h2> -->
<div class="food-imgs">
    <img class="desktop-lgblob" src="../../assets/purp_blob_lg.svg" alt="large purple blob">
    <img class="desktop-pepper" src="../../assets/pepper.svg" alt="pepper">
    <img class="desktop-pear" src="../../assets/pear.svg" alt="pear">
    <img class="desktop-carrots" src="../../assets/carrots.svg" alt="carrots">
    <img class="desktop-lemon" src="../../assets/lemon.png" alt="lemon">

</div>
<div class="container">
    <h2 *ngIf="subscriptions[0]?.sub_type === 'meat'">Meat Subscriptions</h2>
    <h2 *ngIf="subscriptions[0]?.sub_type === 'veg'">Veggie Subscriptions</h2>
    <h2 *ngIf="subscriptions[0]?.sub_type === 'mealprep'">Meal Prep Subscriptions</h2>
    <ul class="sub-boxes">
        <li *ngFor="let subscription of subscriptions, index as i" class="subscription box">
            <img class="sub-img" src={{subscription?.sub_img}} />
            <!-- <div class="stars">
                <i *ngFor="let star of [].constructor(subscription.rating)" class="fas fa-star small"></i>
                <i *ngFor="let star of [].constructor(5 - subscription.rating)" class="far fa-star small"></i>
            </div> -->
            <p>Subscription: {{subscription.name}}</p>
            <p>Subscription Description: {{subscription.description}}</p>
            <button class="secondary card" (click)="routeDetails(subscription.sub_id)">View Subscription
                Details</button>
        </li>
    </ul>
</div>