.discover-button{
background: #880AAC;
border-radius: 4px;
font-size: 16px;
font-weight: 400;
color: #FFFFFF;
letter-spacing: 0;
height: 44px;
width: 100%;
}

.about{
    margin: 20px 20px 100px 20px;
}

.about-heading{
    color: #880AAC;
    font-size: 23px;
    font-weight: 600;
    margin:0;
}

.subhead{
    margin-top: 0;
}

.featured-heading{
    font-size: 23px;
    font-weight: 600;
    margin-left: 20px;
}
.food-imgs {
    position: relative;
    z-index: -1;
}

/* .food-imgs {
    max-width: 100vw;
        display: flex;
        margin: 0 auto;
        border: 1px solid blueviolet;
        z-index: -2;
} */

.desktop-pear {
    position: absolute;
    left: -60px;
    
}

.desktop-carrots {
    position: absolute;
    right: 0;
    top: 20px;
    /* flex: 1; */
}

.sub-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}


@media only screen and (min-width: 768px){

.discover-button{
width: auto;
}

.reviews{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid blue;
}

.about-heading {
    font-size: 3.125rem;
}

.subhead {
    font-size: 1.875rem;
}



}

