<div class="food-imgs">
    <img class="desktop-pear" src="../../assets/pear.svg" alt="pear">
    <img class="desktop-carrots" src="../../assets/carrots.svg" alt="carrots">
</div>

<div class="container">
    <div class="about">
        <h1 class="about-heading">Discover. Subscribe. Review.</h1>
        <p class="subhead">Find home delivery subscriptions that fit your needs!</p>
        <button class="discover-button" routerLink="/subscriptions">Discover Subscriptions</button>
    </div>
    <div class="featured-reviews">
        <h2 class="featured-heading">Featured Reviews</h2>
        <ul class="reviews">
            <li *ngFor="let topReview of topReviews" class="featured box">
                <!-- Add logo -->
                <div class="logo">
                    <img class="sub-img" src={{topReview?.sub_logo}} />
                </div>
                <!-- hook up star functionality -->
                <div class="stars">
                    <i *ngFor="let star of [].constructor(topReview.rating)" class="fas fa-star small"></i>
                    <i *ngFor="let star of [].constructor(5 - topReview.rating)" class="far fa-star small"></i>
                    <!-- <i class="fas fa-star small"></i>
                <i class="fas fa-star small"></i>
                <i class="fas fa-star small"></i>
                <i class="fas fa-star small"></i> -->
                </div>
                <p class="bold-heading">{{topReview?.review_title}}</p>
                <p>{{topReview?.review}}</p>
                <button class="secondary card" (click)="routeDetails(topReview.sub_id)">View Subscription
                    Details</button>

            </li>
        </ul>
    </div>
</div>