
.discover-button{
background: #880AAC;
border-radius: 4px;
font-size: 16px;
font-weight: 400;
color: #FFFFFF;
letter-spacing: 0;
padding: 12px;
width: 100%;
}

.about{
    margin: 60px 20px 100px 20px;
}

.about-heading{
    color: #880AAC;
    font-size: 23px;
    font-weight: 600;
    margin:0;
}

.subhead{
    margin-top: 0;
}

.featured-heading{
    font-size: 23px;
    font-weight: 600;
    margin-left: 20px;
}

.food-imgs {
    position: relative;
    z-index: -1;
    top: 130px;
}


.desktop-pear {
    position: absolute;
    left: -60px;
    
}

.desktop-carrots {
    position: absolute;
    right: 0;
    top: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    height: 114px;
}

.stars{
    display: flex;
    justify-content: center;
}

.sub-img {
    width: 200px;
    height: auto;
    object-fit: contain;
}

.review-text{
    flex: 1;
    margin-top: 0;
}

.featured {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px){

    .food-imgs {
        top: 0;
    }

    .about{
        margin: 20px 20px 100px 20px;
    }

.discover-button{
width: auto;
}

.reviews{
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.about-heading {
    font-size: 3.125rem;
}

.subhead {
    font-size: 1.875rem;
}


}

