<div class="container">
    <h2>All Reviews</h2>
    <div class="review-container">
        <ul class="review-list">
            <li class="review box" *ngFor="let subscriptionReview of subscriptionReviews">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="bold-heading">{{subscriptionReview?.review_title}}</p>
                <p>{{subscriptionReview?.review}}</p>
            </li>
        </ul>
        <button class="write-button" (click)="routeWriteReviews(subscriptionReviews[0].sub_id)">Write a Review</button>
    </div>


</div>