.review-container{
    display: flex;
    flex-direction: column;
}

.write-button{
    margin: 20px;
    width: auto;
}

.all-reviews{
    margin-left: 40px;
}

@media only screen and (min-width: 768px){
    .review-container{
        display: block;
    }

}