<div class="container">
    <h2 class="all-reviews">All Reviews</h2>
    <div class="review-container">
        <ul class="review-list">
            <li class="review box" *ngFor="let subscriptionReview of subscriptionReviews">
                <div *ngIf="subscriptionReview.rating" class="stars">
                    <i *ngFor="let star of [].constructor(subscriptionReview.rating)" class="fas fa-star small"></i>
                    <i *ngFor="let star of [].constructor(5 - subscriptionReview.rating)" class="far fa-star small"></i>
                </div>
                <p class="bold-heading">{{subscriptionReview?.review_title}}</p>
                <p>{{subscriptionReview?.review}}</p>
            </li>
        </ul>
        <button class="write-button" (click)="routeWriteReviews(subscriptionReviews[0].sub_id)">Write a Review</button>
    </div>


</div>