<h1>Subscription Details</h1>
<ul>
    <li>
        <p>Subscription Name: {{subscriptionDetails[0]?.name}}</p>
        <p>Average Rating: {{subscriptionDetails[0]?.rating}}</p>
        <p>Subscription Description: {{subscriptionDetails[0]?.description}}</p>
        <p>Cost: {{subscriptionDetails[0]?.user_cost}}</p>
        <!-- use feature review component here?  -->
        <p>Featured Review Title: {{subscriptionDetails[0]?.review_title}}</p>
        <p>Featured Review Rating: {{subscriptionDetails[0]?.rating}}</p>
        <p>Feature Review Description: {{subscriptionDetails[0]?.review}}</p>
        <button (click)="routeReviews(subscriptionDetails[0].sub_id)">View All Reviews</button>
        <button (click)="routeWriteReviews(subscriptionDetails[0].sub_id)">Write a Review</button>
    </li>
</ul>