<form #addForm="ngForm" (ngSubmit)="addReview(addForm)">
    <h2 class="review-heading">Write a Review</h2>
    <label class="bold-heading label" for="review_title">Review Title</label>
    <input type="text" name="review_title" id="review_title" ngModel />
    <label class="bold-heading label" for="review">Review</label>
    <textarea name="review" id="review" ngModel></textarea>
    <label class="bold-heading label" for="rating">Rating</label>
    <!-- STAR COMPONENT -->
    <select name="rating" id="rating" ngModel>
        <option value="" selected>Select Your Rating</option>
        <option value="1">1 Star</option>
        <option value="2">2 Star</option>
        <option value="3">3 Star</option>
        <option value="4">4 Star</option>
        <option value="5">5 Star</option>
    </select>
    <label class="bold-heading label" for="user_cost">Cost</label>
    <input type="text" name="user_cost" id="user_cost" ngModel />
    <button>Submit</button>
</form>