/* You can add global styles to this file, and also import other style files */
/* GLOBAL RESETS */
body, h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 2.25rem;
}

h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: #323333;
}

h3{
    font-size: 1.25rem;
    font-weight: 600;
    color: #323333;
}


p, label {
    color: #323333;
    font-size: 1rem;
}

a{
    text-decoration: none;
}

.bold-heading {
    font-weight: 600;
}

ul{
    list-style: none;
    padding: 0;
}

button{
    font-family: inherit;
    background: #880AAC;
    border: 1px solid #880AAC;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 1px;
    height: 44px;
    width: 100%;
}

.secondary {
    background: #FFFFFF;
    border: 1px solid #880AAC;
    color: #880AAC;
    text-align: center;
}


.box{
    background: #FFFFFF;
    box-shadow: 0 2px 6px 1px rgba(149,148,148,0.50);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

.fa-star {
    color: #F2D223;
    font-size: 2rem;
    padding: 8px;
}

@media only screen and (min-width: 768px){

.container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    width: 100%
}

h2{
    margin-left: 40px;
}

button{
width: unset;
}

}