/* You can add global styles to this file, and also import other style files */
/* GLOBAL RESETS */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

ul{
    list-style: none;
    padding: 0;
}

button{
    font-family: inherit;
    width: 100%;
}

.box{
    background: #FFFFFF;
    box-shadow: 0 2px 6px 1px rgba(149,148,148,0.50);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}